<section>
<div class="row">
    <div class="col-md-8">
        <div class="row">
           
            <div class="col-sm-12">
                <h6 class="mt-4"><strong>SEND MONEY:</strong> Beneficiaries</h6>
                <div class="card-group">
                    <div class="card">
                        <!--Card content-->
                        <div class="card-body text-center">
                            <div class="row">
                                <div class="col-xs-2 mx-4">
                                    <i class="fas fa-circle fa-3x text-primary"></i>
                                </div>
                                <div class="col-xs-10 ml-5 text-right">
                                    <h4 class="my-0">XYZ Company</h4>
                                    <h5 class="card-title mb-0"><span class="card-text small">Last transfer: </span><span class="green-text">N </span> 450,000.00</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <!--Card content-->
                        <div class="card-body text-center">
                            <div class="row">
                                <div class="col-xs-2 mx-4">
                                    <i class="fas fa-circle fa-3x text-secondary"></i>
                                </div>
                                <div class="col-xs-10 ml-5 text-right">
                                    <h4 class="my-0">Jennifer Doe</h4>
                                    <h5 class="card-title mb-0"><span class="card-text small">Last transfer: </span><span class="green-text">N </span> 50,000.00</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <!--Card content-->
                        <div class="card-body text-center">
                            <div class="row">
                                <div class="col-xs-2 mx-4">
                                    <i class="fas fa-circle fa-3x pink-text"></i>
                                </div>
                                <div class="col-xs-10 ml-5 text-right">
                                    <h4 class="my-0">John Doe</h4>
                                    <h5 class="card-title mb-0"><span class="card-text small">Last transfer: </span><span class="green-text">N </span> 150,000.00</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4">

                <div class="card text-center z-depth-0">
                    <div class="card-header bg-secondary p-0">
                        <ul class="nav nav-pills nav-fill nav-justified card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active rgba-grey-slight py-md-4 rounded-0" href="#"><i class="fas fa-bullhorn mr-2"></i><span class="d-none d-md-inline"></span>Account Activities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled py-md-4 rounded-0" href="#"><i class="fas fa-align-justify mr-2"></i><span class="d-none d-md-inline"></span>Summary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled py-md-4 rounded-0" href="#"><i class="far fa-chart-bar mr-2"></i><span class="d-none d-md-inline"></span>Statistics</a>
                        </li>
                        </ul>
                    </div>
                    <div class="card-body m-0 p-0">
                        <table class="table table-hover">
                            <caption class="ml-4">Last five(5) Activities: <span class="green-text"> PriceHouse Coorp.</span></caption>
                            <thead class="bg-secondary white-text">
                                <tr class="py-0 rgba-grey-slight">
                                <th scope="col"></th>
                                <th class="text-left" scope="col">Description</th>
                                <th class="" scope="col">Account</th>
                                <th class="text-right" scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row"><i class="fas fa-arrow-alt-circle-down text-primary"></i></th>
                                <td class="text-left">FilmHouse: Black Panther<br/><span class="text-muted">Today, 12:05</span></td>
                                <td class="">0019089878</td>
                                <td class="text-right"><span class="text-danger h6">- N5,000.00</span></td>
                                </tr>
                                <tr>
                                <th scope="row"><i class="fas fa-arrow-alt-circle-down text-primary"></i></th>
                                <td class="text-left">Shoprite Ikoyi<br/><span class="text-muted">Today, 13:29</span></td>
                                <td class="">0095857643</td>
                                <td class="text-right"><span class="text-danger h6">- N255,000.00</span></td>
                                </tr>
                                <tr>
                                <th scope="row"><i class="fas fa-arrow-alt-circle-up text-success"></i></th>
                                <td class="text-left">Larry Goldberg<br/><span class="text-muted">Mar 1, 18:05</span></td>
                                <td class="">0095857643</td>
                                <td class="text-right"><span class="text-success h6">+ N2,955,000.00</span></td>
                                </tr>
                                <tr>
                                <th scope="row"><i class="fas fa-arrow-alt-circle-down text-primary"></i></th>
                                <td class="text-left">Transfer to Mark Alabi Bakare<br/><span class="text-muted">Feb 20, 16:45</span></td>
                                <td class="">0095857643</td>
                                <td class="text-right"><span class="text-danger h6">- N55,000.00</span></td>
                                </tr>
                                <tr>
                                <tr>
                                <th scope="row"><i class="fas fa-arrow-alt-circle-up text-success"></i></th>
                                <td class="text-left">Guarantee Trust Bank<br/><span class="text-muted">Feb 12, 06:15</span></td>
                                <td class="">0019089878</td>
                                <td class="text-right"><span class="text-success h6">+ N5,955,000.00</span></td>
                                </tr>
                                <tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4 text-center text-white mt-4">
        <div class="card-group">
            
            <div class="row w-100 mx-2">
                <div class="col-sm-12 pl-0">
                    <h1 class="text-secondary text-left small"><strong>DATES TO REMEMBER</strong></h1>
                </div>
                   
                <div class="col-sm-6 px-0">
                    <div class="card rounded-0 bg-secondary">
                        <div class="card-body">
                            <h1 class="card-title display-4 mb-0">14</h1>
                            <p class="my-0">FEB</p>
                        </div>
                        <div class="card-footer text-muted small">
                            2 days ago
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 px-0">
                    <div class="card rounded-0 bg-primary">
                        <div class="card-body">
                            <h1 class="card-title display-4 mb-0">23</h1>
                            <p class="my-0">FEB</p>
                        </div>
                        <div class="card-footer text-muted small">
                            2 days ago
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 px-0">
                    <div class="card rounded-0 bg-green">
                        <div class="card-body">
                            <h1 class="card-title display-4 mb-0">02</h1>
                            <p class="my-0">MARCH</p>
                        </div>
                        <div class="card-footer text-muted small">
                            2 days ago
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 px-0">
                    <div class="card rounded-0 bg-pink">
                        <div class="card-body">
                            <h1 class="card-title display-4 mb-0">31</h1>
                            <p class="my-0">MARCH</p>
                        </div>
                        <div class="card-footer text-muted small">
                            2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-group mt-4">
            <div class="card">
                <img class="card-img-top" src="../../assets/images/images/gtworldnotice.jpg" alt="Card image cap">
            </div>
        </div>
    </div>
</div>
</section>